<div>
  <h1 class="titulo">Capitais</h1>
</div>
<div class="capitais">
  <dx-button icon="exportpdf" (onClick)="exportGridToPdf($event)"> </dx-button>
  <dx-data-grid
    [dataSource]="cidades"
    keyExpr="localidade"
    [allowColumnReordering]="true"
    [showBorders]="true"
  >
    <dxo-export [enabled]="true"> </dxo-export>
    <dxo-paging [pageSize]="10" [pageIndex]="1"></dxo-paging>
    <dxo-pager
      [showPageSizeSelector]="true"
      [allowedPageSizes]="[5, 10, 15]"
      [showNavigationButtons]="true"
    ></dxo-pager>
    <dxo-filter-row [visible]="true"></dxo-filter-row>
    <dxo-header-filter [visible]="true"></dxo-header-filter>
    <dxi-column
      dataField="localidade"
      dataType="string"
      sortOrder="asc"
    ></dxi-column>
    <dxi-column dataField="temperaturaAtual"></dxi-column>
    <dxi-column dataField="sensacaoTermica"></dxi-column>
    <dxi-column dataField="clima"></dxi-column>
  </dx-data-grid>
</div>
